# Dependencies
node_modules/

# Build output
out/
dist/

# VS Code temporary files
.vscode-test/
*.log

# OneDrive / System files
$RECYCLE.BIN/
Thumbs.db
desktop.ini

# Google Drive Sync Temp Files
.tmp.driveupload/
.tmp.drivedownload/

# OneDrive Sync Temp Files
*.tmp
.DS_Store